body {
    margin: 0 auto;
    width: 100%;
}

#games{
    width: 90%;
    align-content: center;
}

#game1{
    background-color: lightblue;
}

#game2{
    background-color: lightcyan;
}

#game3{
    background-color: lightgreen;
}

#game4{
    background-color: lightskyblue;
}

#bnSubmit{
    font-weight: bold;
}

.Submit{
   margin-top: 206px;
}

#results{
    margin-left: 550px;
}